[user]
	email = me@billyrice.com
	name = Billy Rice
[core]
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[merge]
	conflictStyle = zdiff3
